@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: normal normal bold nunito;
  font-weight: 400;
}


img {
  max-width: 100%;
}

h4 {
  font-size: 15px;
}

h6 {
  padding-bottom: 15px;
}


p {

  font-size: 13px;
  line-height: 1rem;
  letter-spacing: 1.1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descriptiveP {
  color: #6E8CA0;
  letter-spacing: 0.1px;
  font-size: 12px;
}


/* -------------Home Screen--------------- */
.wrapper {
  text-align: center;
  margin: 0 auto;
}

.header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #1B1C201A;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px
}

.header>img {
  max-width: 100px;
}

.activities {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.singleActivity {
  position: relative;
  max-width: 200px;
  max-height: 400px;
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 15px #1B1C201A;
  border-radius: 15px;
  opacity: 1;
  margin-bottom: 1.5rem;
}

.singleActivityText {
  margin-top: 2rem
}

.wrapper>h3 {
  margin: 30px 0;
}

.logoDiv {
  position: absolute;
  top: 42%;
  left: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #42596529;
  opacity: 1;

}


/* ----------Schedule Screen---------- */

.scheduleScreen {
  background-color: #344856;
  height: 100vh;
  width: 100vw;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  overflow-y: auto;
  box-sizing: border-box;

}

.schedulePics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.schedulePicOutline {
  display: grid;
  justify-content: center;
  align-items: center;

}

.schedulePic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  cursor: pointer;
}

.schedulePic>img {
  width: 35px;
  height: 35px;
}

.activityBorder {
  background-color: #D97D54;
}


.pickers {
  text-align: left;
  margin: 0 1rem;
}

.popper {
  display: grid;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 230px;
  width: 100%;
  box-sizing: border-box;
}

.timePicker {
  height: 56px;
}

.dateTimePicker {
  height: 56px;
}

.closeBtn {

  float: left;
  color: #FFFFFF;
  border: none;
  background-color: transparent;
  font-size: 25px;
  font-weight: 300;
}

.submitBtn:disabled {
  background-color: #C8D1D3;
}

.submitBtn {
  color: #FFFFFF;
  padding: 1rem 0;
  border-radius: 30px;
  border: solid 1px #87BCBF;
  background-color: #42596529;

}

.scheduleBtn {
  color: #FFFFFF;
  padding: 1rem 0;
  border-radius: 30px;
  background-color: #D97D54;
  border: transparent;
  text-decoration: none;

}

@media screen and (max-width: 1000px) {

  .singleActivity {
    width: 136px;
    height: 182px;
    margin-bottom: 1.5rem;

  }

  .singleActivityText {
    margin-top: 0.5rem;
  }

  .logoDiv {
    width: 45px;
    height: 45px;
    top: 45%;
    left: 33%;
  }

  .logoDiv>img {
    width: 28px;
    height: 28px;
  }
}